/* ================================================ */
/* DEFINICIJE FONTOVA                */
/* ================================================ */

@font-face {
  font-family: 'Cormorant Garamond';
  /* PREPORUKA: Preuzmite WOFF2 format za Cormorant Garamond i spremite ga u css/fonts/ */
  src: url('fonts/CormorantGaramond-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignPainter HouseScript';
  src: url('fonts/signpainter_housescript.otf') format('opentype'); /* Пример, если папка fonts/ на том же уровне, что и css/ */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'balmoral';
  src: url('fonts/kzbalmoral_regular.ttf') format('truetype'); /* Пример, если папка fonts/ на том же уровне, что и css/ */
  font-weight: normal;
  font-style: normal;
}


/* ================================================ */
/* OSNOVNI STILOVI                 */
/* ================================================ */

body, html {
    margin: 0px;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Poravnanje na vrh */
    background-color: #fffbf4; /* Boja za prazan prostor */
    font-family: 'Cormorant Garamond', serif; /* Primjena osnovnog fonta */
    overflow-y: auto;
}

.mobile-container {
    width: 100%;
    max-width: 450px; /* Tipična širina mobilnog zaslona */
    min-height: 100%;
    background-color: #fffbf4; /* Originalna boja pozadine */
    box-shadow: 0 0 20px rgba(0,0,0,0.15); /* Opcionalno: dodaje lijep efekt sjene */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Omogućuje scrollanje unutar spremnika */
    overflow-x: hidden; /* Sprječava horizontalno scrollanje */
}

.script-font {
    font-family: 'balmoral', cursive;
    font-size: 2.2rem;
}


/* ================================================ */
/* STILOVI KOMPONENATA               */
/* ================================================ */

.centered-container {
  margin: 16px;
    width: 90%;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Добавьте это правило для нужного изображения */
#pass-img {

    border-radius: 16px;
}

.invitation-section {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.boarding-time-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.world-bg {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}

.plane-fg {
    position: absolute;
    z-index: 2;
    max-width: 15%;
    height: auto;
    bottom: -10%;
    left: -20%;
    animation: fly-curved 12s linear infinite;
}

.plane-fg1 {
    position: absolute;
    z-index: 2;
    max-width: 15%;
    height: auto;
    bottom: -10%;
    left: -20%;
    animation: fly-curved-backwards 17s linear infinite;
}
.plane-fg3 {
    position: absolute;
    z-index: 2;
    max-width: 15%;
    height: auto;
    bottom: -10%;
    left: -20%;
    animation: fly-curved1 17s linear infinite;
}

.plane-fg4 {
    position: absolute;
    z-index: 2;
    max-width: 15%;
    height: auto;
    bottom: -10%;
    left: -20%;
    animation: fly-curved3 17s linear infinite;
}

.plane-fg2 {
    position: absolute;
    z-index: 2;
    max-width: 15%;
    height: auto;
    bottom: -10%;
    left: -20%;
    animation: fly-curved-backwards-rotated 15s linear infinite;
}



.text-content {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 10px;
    color: #C0A262;
    line-height: 1;
    margin-top: 0px;
   font-family: 'SignPainter HouseScript', cursive;
  font-size: 1.2rem;

}

@keyframes fly-curved {
    0% {
        transform: translate(120vw, -35vh) rotate(180deg) scale(0.5);
        opacity: 0;
    }
    30% {
        transform: translate(60vw, -35vh) rotate(180deg) scale(0.8);
        opacity: 1;
    }
    60% {
        transform: translate(-10vw, -35vh) rotate(180deg) scale(1);
    }
    100% {
        transform: translate(-20vw, -35vh) rotate(180deg) scale(0.5);
        opacity: 0;
    }
}
@keyframes fly-curved1 {
    0% {
        transform: translate(-20vw, 5vh) rotate(-30deg) scale(0.5);
        opacity: 0;
    }
    30% {
        transform: translate(0vw, -15vh) rotate(-30deg) scale(0.8);
        opacity: 1;
    }
    60% {
        transform: translate(50vw, -25vh) rotate(-30deg) scale(1);
    }
    100% {
        transform: translate(120vw, -35vh) rotate(-30deg) scale(0.5);
        opacity: 0;
    }
}

@keyframes fly-curved3 {
    0% {
        transform: translate(-20vw, -35vh) rotate(30deg) scale(0.5);
        opacity: 0;
    }
    30% {
        transform: translate(0vw, -35vh) rotate(30deg) scale(0.8);
        opacity: 1;
    }
    60% {
        transform: translate(50vw, -25vh) rotate(30deg) scale(1);
    }
    100% {
        transform: translate(120vw, -15vh) rotate(30deg) scale(0.5);
        opacity: 0;
    }
}
@keyframes fly-curved-backwards {
    0% {
        transform: translate(120vw, -35vh) rotate(-210deg) scale(0.5);
        opacity: 0;
    }
    30% {
        transform: translate(50vw, -25vh) rotate(-210deg) scale(1);
        opacity: 1;
    }
    60% {
        transform: translate(0vw, -15vh) rotate(-210deg) scale(0.8);
    }
    100% {
        transform: translate(-20vw, 5vh) rotate(-210deg) scale(0.5);
        opacity: 0;
    }
}



.calendar-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar-section img {
    max-width: 100%;
    height: auto;
}

.ring-and-host-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-container {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.ring-and-host-section img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  border-radius: 50%;
}

.ring-and-host-section p {
    font-size: 1.2rem;
    color: #C0A262;
    margin: 5px 0;
}

/* Stilovi za sekciju s putovnicom */
.passport-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.passport {
    width: 300px;
    height: 450px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.passport-cover, .passport-pages {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform 1s ease-in-out;
  background-color: #ffffff;

}

.passport-cover {
    z-index: 2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.passport-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.passport-pages {
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    backface-visibility: hidden;


}

/* Klasa koja se dodaje putem JS-a */
.passport.open .passport-cover {
    transform: rotateY(-180deg);
}

/* Stilovi za sadržaj unutar stranica putovnice */
.passport-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
  background-color: #ffffff;

}

/* Stilovi za formu unutar putovnice */
.passport-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-title {
    font-size: 1.2rem;
    color: #C0A262;
    margin-bottom: 5px;
    text-align: center;
}

.form-subtitle {
    font-size: 0.8rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
}

.passport-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.question {
    font-size: 1rem;
    color: #C0A262;
    margin-bottom: 10px;
    text-align: center;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.radio-group label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.radio-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #C0A262;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #a38753;
}

.passport-page-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: left center;
    transition: transform 1s ease-in-out;
    z-index: 1;

}
.passport.open .passport-cover {
    transform: rotateY(-180deg);
     box-shadow: none;
}
.passport.open .passport-page-bg {
    transform: rotateY(-179deg);
     box-shadow: none;
}

/* Stilovi za sekciju lokacije */
.location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.location-text {
    font-size: 1.2rem;
    color: #C0A262;
    margin-bottom: 10px;
    text-align: center;
}

.location-flag-container {
    position: relative;
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-flag {
    width: 100%;
    height: auto;
}

.location-pin-link {
    position: absolute;
    bottom: 20px;
    left: 61%;
    transform: translateX(-50%);
    cursor: pointer;
}

.animated-pin {
    width: 50px;
    height: auto;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    40% {
        transform: translateY(-20px) translateX(-50%);
    }
    60% {
        transform: translateY(-10px) translateX(-50%);
    }
}

/* Stilovi za odbrojavanje */
.countdown-section {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.countdown-title {
    font-size: 1.4rem;
    color: #C0A262;
    margin-bottom: 15px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbf4;
    padding: 10px;
    border-radius: 8px;
 te
  color: #C0A262;
  font-size: 1.8rem;

}

.countdown-item span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #C0A262;
    line-height: 1;
   font-family: 'SignPainter HouseScript', cursive;

}

.countdown-item p {
    font-size: 0.8rem;
    margin: 5px 0 0;
    color: #C0A262;
    text-transform: uppercase;
   font-family: 'SignPainter HouseScript', cursive;
}


/* ================================================ */
/* АНИМАЦИИ                                         */
/* ================================================ */
/* ================================================ */
/* АНИМАЦИИ                                         */
/* ================================================ */

/* Общий класс для элементов, которые должны быть изначально скрыты */
.animate {
  opacity: 0;
}

/* Анимация появления из ниоткуда (fade-in) */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.animate.fade-in.animate-active { /* Добавляем класс animate-active */
    animation: fadeIn 1.5s forwards; /* Увеличиваем длительность до 1.5 секунд */
}

/* Анимация появления снизу */
@keyframes slideInFromBottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate.slide-in-bottom.animate-active { /* Добавляем класс animate-active */
    animation: slideInFromBottom 1.5s forwards; /* Увеличиваем длительность до 1.5 секунд */
}

/* Анимация появления справа */
@keyframes slideInFromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.animate.slide-in-right.animate-active { /* Добавляем класс animate-active */
    animation: slideInFromRight 1.5s forwards; /* Увеличиваем длительность до 1.5 секунд */
}

/* Анимация появления слева */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.animate.slide-in-left.animate-active { /* Добавляем класс animate-active */
    animation: slideInFromLeft 1.5s forwards; /* Увеличиваем длительность до 1.5 секунд */
}

/* Задержки для последовательных анимаций */
.invitation-section .text-content p:nth-child(2).animate-active {
    animation-delay: 0.75s; /* Соответственно увеличиваем задержку */
}

.boarding-time-section .text-content p:nth-child(2).animate-active {
    animation-delay: 0.45s; /* Соответственно увеличиваем задержку */
}

.boarding-time-section .text-content p:nth-child(3).animate-active {
    animation-delay: 0.9s; /* Соответственно увеличиваем задержку */
}

.boarding-time-section .text-content p:nth-child(4).animate-active {
    animation-delay: 1.35s; /* Соответственно увеличиваем задержку */
}

/* ================================================ */
/* Стили для иконки музыки                */
/* ================================================ */
/* ================================================ */
/* Стили для иконки музыки                */
/* ================================================ */

.music-icon {
    position: absolute; /* Позиционируем иконку относительно .centered-container */
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
    fill: #C0A262;
}

/* Анимация вращения при нажатии */
.music-icon.playing {
    animation: rotate 5s linear infinite;
}

/* Анимация пульсации, когда музыка не играет */
/* ================================================ */
/* Стили для иконки музыки                */
/* ================================================ */

.music-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
    fill: #C0A262;
}

/* Анимация вращения при нажатии */
.music-icon.playing {
    animation: rotate 5s linear infinite;
}

/* Анимация пульсации, когда музыка не играет */
.music-icon.pulsing {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
